body {
  text-align: center;
  font-family: sans-serif;
  color: white;
  background-color: black;
}
i {
  cursor: pointer;
}
a,
a:visited {
  color: purple;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2 {
  font-family: "Montsserat", sans-serif;
}
h3,
h4 {
  font-family: "Roboto", sans-serif;
}
main,
header {
  margin: 2em auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  height: 90vh;
}
header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  padding-right: 4em;
  align-items: space-between;
  overflow: hidden;
}
nav {
  display: flex;
  flex-direction: row;
  padding: 2em;
}
nav a,
nav a:visited {
  color: white;
  text-decoration: none;
  margin: 1em;
}
nav a:active,
nav a:hover {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  margin: 1em;
}
#control-a,
#control-c,
#control-s {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em;
  width: 90%;
}
.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.banner h1 {
  font-size: 3rem;
  font-family: "Exo 2", sans-serif;
}
.banner p,
.para {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
}
.para {
  padding: 0.5em 2em;
}
.detail {
  width: 70%;
  margin: 0 auto;
}
.thick-line {
  display: block;
  width: 280px;
  height: 20px;
  background-color: purple;
  border-radius: 5px;
}
.wide {
  width: 100%;
  justify-content: flex-start;
}
.wide,
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttons {
  flex-grow: 2;
}
.buttons span:hover {
  border: 1px solid white;
}
.right {
  justify-content: flex-end;
}
.left {
  justify-content: flex-start;
}
.center {
  justify-content: center;
}
.btn {
  border-radius: 15px;
  padding: 1em 2em;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 2em;
  width: 125px;
  text-align: center;
  cursor: pointer;
}
.btn span:hover {
  border: 1px solid white;
}
.border-purple {
  border: 1px solid purple;
}
.border-white {
  border: 1px solid white;
}
.white-trans {
  background-color: rgba(255, 255, 255, 0.301);
}
.purple-trans {
  background-color: rgba(128, 0, 128, 0.253);
}
.slider {
  width: 50px;
  cursor: pointer;
}
.container {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1000;
  overflow: visible;
}
.social {
  width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  margin-bottom: 50px;
}
.no-left {
  margin-left: -2em;
}
.social i {
  padding: 0.5em;
  color: white;
}
.hidden {
  display: none;
}
.pull-up {
  animation: pullUp 0.5s linear forwards;
}
.pull-down {
  animation: pullDown 0.5s linear forwards;
}
.slide-right {
  animation: slideRight 0.5s linear forwards;
}
.slide-left {
  animation: slideLeft 0.5s linear forwards;
}
.slide-top {
  animation: slideTop 0.5s linear forwards;
}
.slide-bottom {
  animation: slideBottom 0.5s linear forwards;
}
@keyframes slideTop {
  0% {
    height: 0px;
  }

  50% {
    height: 300px;
  }

  100% {
    height: 600px;
  }
}
@keyframes slideBottom {
  0% {
    height: 600px;
  }

  50% {
    height: 300px;
  }

  100% {
    height: 0px;
  }
}
@keyframes slideRight {
  0% {
    width: 0px;
  }
  50% {
    width: 25px;
  }
  100% {
    width: 50px;
  }
}
@keyframes slideLeft {
  0% {
    width: 50px;
  }
  50% {
    width: 25px;
  }
  100% {
    width: 0px;
  }
}

@keyframes pullUp {
  0% {
    position: absolute;
    top: 100vh;
    left: 10%;
  }
  50% {
    position: absolute;
    top: 50vh;
    left: 10%;
  }
  100% {
    position: absolute;
    top: 1vh;
    left: 10%;
  }
}
@keyframes pullDown {
  0% {
    position: absolute;
    top: 1vh;
    left: 10%;
  }

  50% {
    position: absolute;
    top: 50vh;
    left: 10%;
  }
  100% {
    position: absolute;
    top: 100vh;
    left: 10%;
  }
}
